@import "tailwindcss";

@theme {
  --color-primary: #2068D5;
  --color-primary-light: #5B8EE6;
  --color-secondary: #3DC681;
  --color-secondary-light: #6AD89E;
  --color-dark: #1C1C1E;
  --color-dark-light: #2C2C2E;
  --color-gray-light: #F5F5F7;
  --color-gray: #C9C5CB;
}
